body{

    font-family: Arial, Helvetica, sans-serif;
    text-align : center;
    background: url("./mario-bg.jpg");
    background-size:cover;
}

#board{
    height:540px;
    width:540px;
    background:url("./soil.png");
    background-size:cover;
    border:3px solid black;
    border-radius:20px;
    margin:0 auto ; /* centers the object */
    display:flex; /* makes the div a flexbox */
    flex-wrap:wrap; /* wraps the div */

}
#board div{
    width:180px;
    height:180px;
    background-image:url("./pipe.png");
    background-size: cover;
}

#board div img{
    width:100%;
    height:100%;

    user-select:none; /* disables the ability to select the image */
    -moz-user-select: none;
    -webkit-user-drag:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


